<footer class="footer">
  <small>
    the <a href="http://www.railstutorials.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhart.com">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "about",'#'%></li>
      <li><%= link_to "Contact",'#'%></li>
      <li><a href="http://new.railstutorial.org/">new</a></li>
    </ul>
  </nav>
</footer>